<html>
  <head>
    {%include 'bootstrap.html'%}
  </head>
  <body>
    {%include 'banner.html'%}
<h4>Contact me </h4>
<form action ="/massage" method="post">
  <div>
    <label>Full Name</label><br>
    <input type="text" name="Full Name" placeholder="Jury Alsultan">
   </div>
  <div>
  <label>E-mail</label><br>
  <input type="text" name="email" placeholder="Jury Alsultan@xyz.com">
    </div>
  <div>
    <label>Massage</label><br>
    <textarea name="massage" placeholder="Salam I'm Jury Alsultan">
    </textarea>
    </div>
  <input type="submit">
</form>
    </body>
</html>